parameters:
    ignoreErrors:
        # Eloquent model dynamic properties - PHPStan can't infer them
        - '#Access to an undefined property#'
        
        # Eloquent model static methods - PHPStan can't infer Eloquent methods from base class
        - '#Call to an undefined static method (App\\Models|Illuminate\\Database\\Eloquent)#'
        
        # Type issues with factory/model instantiation
        - '#expects Illuminate\\Contracts\\Auth\\Authenticatable#'
        
        # View return type compatibility (Contracts\View\View vs View\View)
        - '#should return Illuminate\\View\\View but returns Illuminate\\Contracts\\View\\View#'
        
        # Factory state methods
        - '#Call to an undefined method.*Factory::unverified#'
        
        # Auth Guard methods
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Guard::logout#'
        
        # Console/routing variables
        - '#Undefined variable: \$this#'