includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app
        - routes
        - tests
    tmpDir: build/phpstan
    checkOctaneCompatibility: false
    checkModelProperties: false
    checkUnionTypes: true

    ignoreErrors:
        - '#Call to an undefined method (?:Illuminate\\Testing\\TestResponse|Illuminate\\Foundation\\Testing\\TestResponse)::assertSessionHasNoErrors#'

    excludePaths:
        - .git
        - bootstrap/cache
        - node_modules
        - vendor
        - storage
        - public
